<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightSoft test app</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet/less" href="assets/css/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row top-xs middle-md">
                <div class="logo col-xs-12 col-md-2 col-lg-1"><img src="images/logo.png" alt="MyTour"></div>
                <nav class="col-xs-12 col-md-9">
                    <ul class="row navbar">
                        <li><a href="" class="btn btn-link">Моя лента</a></li>
                        <li class="active"><a href="" class="btn btn-link">Интересы</a></li>
                        <li><a href="" class="btn btn-link">Направления</a></li>
                        <li><a href="" class="btn btn-link">Подбор тура</a></li>
                        <li><a href="" class="btn btn-link">Заявка</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer></footer>
</body>
</html>
