<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LightSoft test app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/53f39c7df3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet/less" href="assets/css/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    <link href="assets/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/main.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-toggleable-md">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <a class="navbar-brand" href=""><img src="images/logo.png" alt="MyTour"></a>
                <div class="collapse navbar-collapse" id="main">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="#">Моя лента</a></li>
                        <li class="nav-item active"><a class="nav-link" href="#">Интересы</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Направления</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Подбор тура</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Заявка</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="content col-xs-12 col-md-10">
                    <h2>Настройки интересов</h2>
                    <article class="tour-form">
                        <header class="form-header d-flex align-items-center">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#home" role="tab">Подборка Васи</a></li>
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Подборка 123</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages" role="tab">Турция 20.03</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings" role="tab">Подборка #1</a></li>
                            </ul>
                            <a href="" class="text-uppercase"><i class="fa fa-plus-circle"></i>&nbsp;Добавить подборку</a>
                        </header>
                        <main class="form-content">
                            <form>
                                <div class="row align-items-end">
                                    <div class="form-group col-xs-12 col-md-3">
                                        <label for="name">Название подборки</label>
                                        <input type="email" class="form-control" id="name" aria-describedby="name" placeholder="">
                                    </div>
                                    <div class="form-group col-xs-12 col-md-3">
                                        <label for="city">Ваш город</label>
                                        <input type="text" class="form-control" id="city" aria-describedby="city" placeholder="">
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6 text-right">
                                        <a href="" class="btn btn-action btn-lg text-uppercase">Смотреть результаты&emsp;<i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-12">
                                        <label for="tags">Вы можете задать несколько стран или регионов для одной подборки</label>
                                        <input type="text" class="form-control tags" id="tags">
                                    </div>
                                    <div class="form-group col-xs-12 col-md-12">
                                        <a href="" class="btn btn-rounded-inverted text-uppercase">добавить регион</a>
                                        <a href="" class="btn btn-rounded text-uppercase">добавить страны</a>
                                    </div>
                                </div>
                                <div class="row input-split">
                                    <div class="form-group">
                                        <label for="dates">Дата вылета</label>
                                        <input type="text" class="form-control datepicker-here" id="dates" data-range="true" data-multiple-dates-separator=" - " data-date-format = "d MM, D">
                                    </div>
                                    <div class="form-group">
                                        <label for="duration">На сколько</label>
                                        <input type="text" class="form-control" id="duration">
                                    </div>
                                    <div class="form-group">
                                        <label for="numberOfPersons">Количество гостей</label>
                                        <input type="text" class="form-control" id="numberOfPersons">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Стоимость тура</label>
                                        <input type="text" class="form-control" id="price">
                                    </div>
                                </div>
                                <div class="row align-items-end">
                                    <div class="col-md-8 d-flex input-split">
                                        <div class="form-group">
                                            <label for="stars">Категория отелей от</label>
                                            <input type="text" class="form-control" id="stars" data-range="true" data-multiple-dates-separator=" - " data-date-format = "d MM, D">
                                        </div>
                                        <div class="form-group">
                                            <label for="tophotels">Рейтинг TopHotels</label>
                                            <input type="text" class="form-control" id="tophotels">
                                        </div>
                                        <div class="form-group">
                                            <label for="food">Тип питания</label>
                                            <input type="text" class="form-control" id="food">
                                        </div>
                                        <div class="form-group">
                                            <label for="place">Расположение</label>
                                            <input type="text" class="form-control" id="place">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <a href="" class="btn btn-link btn-lg text-uppercase text-danger"><i class="fa fa-times-circle"></i>&nbsp;удалить подборку</a>
                                    </div>
                                </div>
                            </form>
                        </main>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>
